In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MF_India_AI.csv')

In [3]:
df.head()

,scheme_name,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,fund_manager,sortino,alpha,sd,beta,sharpe,risk_level,amc_name,rating,category,sub_category,returns_1yr,returns_3yr,returns_5yr
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,100,100,0.27,10.0,10,Kaustubh Gupta,0.32,2.24,9.39,0.01,0.24,3,Aditya Birla Sun Life Mutual Fund,3,Other,FoFs Domestic,4.0,6.5,6.9
1,Aditya Birla SL Arbitrage Fund,1000,1000,0.36,4288.0,10,Lovelish Solanki,1.33,1.53,0.72,0.56,1.1,1,Aditya Birla Sun Life Mutual Fund,3,Hybrid,Arbitrage Mutual Funds,5.6,4.8,5.5
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,1000,1000,0.53,157.0,10,Vinod Narayan Bhat,3.44,2.67,10.58,0.67,1.42,5,Aditya Birla Sun Life Mutual Fund,3,Other,FoFs Domestic,2.0,18.9,9.7
3,Aditya Birla SL Bal Bhavishya Yojna – Dir Growth,500,1000,0.76,637.0,4,Atul Penkar,2.18,-6.37,14.99,0.85,0.9,6,Aditya Birla Sun Life Mutual Fund,2,Solution Oriented,Childrens Funds,-0.7,17.1,NaN
4,Aditya Birla SL Balanced Advantage Fund,100,100,0.61,6386.0,10,Mohit Sharma,3.69,1.99,10.38,0.68,1.39,6,Aditya Birla Sun Life Mutual Fund,4,Hybrid,Dynamic Asset Allocation or Balanced Advantage,4.5,18.6,9.7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814 entries, 0 to 813
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scheme_name    814 non-null    object
 1   min_sip        814 non-null    int64
 2   min_lumpsum    814 non-null    int64
 3   expense_ratio  814 non-null    float64
 4   fund_size_cr   814 non-null    float64
 5   fund_age_yr    814 non-null    int64
 6   fund_manager   814 non-null    object
 7   sortino        814 non-null    object
 8   alpha          814 non-null    object
 9   sd             814 non-null    object
 10  beta           814 non-null    object
 11  sharpe         814 non-null    object
 12  risk_level     814 non-null    int64
 13  amc_name       814 non-null    object
 14  rating         814 non-null    int64
 15  category       814 non-null    object
 16  sub_category   814 non-null    object
 17  returns_1yr    814 non-null    float64
 18  returns_3yr    793 non-null    float64
 19  returns_5yr    647 non-null    float64
dtypes: float64(5), int64(5), object(10)
memory usage: 127.3+ KB

In [5]:
df.describe()

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
count,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,793.000000,647.000000
mean,528.500000,3047.468059,0.713231,3812.854214,8.319410,4.400491,2.641278,3.921376,18.525347,9.490726
std,369.184517,2514.619513,0.482161,7181.479475,2.640622,1.814741,1.463476,6.675502,12.108476,3.714015
min,0.000000,0.000000,0.000000,2.380000,1.000000,1.000000,0.000000,-19.700000,3.300000,-4.100000
25%,150.000000,500.000000,0.310000,175.250000,6.000000,3.000000,2.000000,1.500000,6.200000,6.700000
50%,500.000000,5000.000000,0.615000,940.500000,10.000000,6.000000,3.000000,4.400000,18.500000,8.900000
75%,1000.000000,5000.000000,1.030000,3819.000000,10.000000,6.000000,4.000000,5.600000,27.100000,12.200000
max,2000.000000,25000.000000,2.590000,57052.000000,17.000000,6.000000,5.000000,130.800000,71.400000,23.200000

In [6]:
df.columns

Index(['scheme_name', 'min_sip', 'min_lumpsum', 'expense_ratio',
       'fund_size_cr', 'fund_age_yr', 'fund_manager', 'sortino', 'alpha', 'sd',
       'beta', 'sharpe', 'risk_level', 'amc_name', 'rating', 'category',
       'sub_category', 'returns_1yr', 'returns_3yr', 'returns_5yr'],
      dtype='object')

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('MF_India_AI.csv')

In [9]:
df.nunique()

scheme_name      789
min_sip           10
min_lumpsum       11
expense_ratio    177
fund_size_cr     693
fund_age_yr       14
fund_manager     260
sortino          385
alpha            540
sd               581
beta             162
sharpe           217
risk_level         6
amc_name          39
rating             6
category           5
sub_category      38
returns_1yr      210
returns_3yr      304
returns_5yr      147
dtype: int64

In [10]:
df.isnull().values.sum()

188

In [11]:
print(data.isnull().sum())

scheme_name        0
min_sip            0
min_lumpsum        0
expense_ratio      0
fund_size_cr       0
fund_age_yr        0
fund_manager       0
sortino            0
alpha              0
sd                 0
beta               0
sharpe             0
risk_level         0
amc_name           0
rating             0
category           0
sub_category       0
returns_1yr        0
returns_3yr       21
returns_5yr      167
dtype: int64

In [12]:
df['returns_3yr'].fillna(df['returns_3yr'].mean(), inplace=True)
df['returns_5yr'].fillna(df['returns_5yr'].median(), inplace=True)

In [13]:
df.isnull().values.sum()

0

In [14]:
# Calculate correlation coefficients
correlation_matrix = df.corr()

In [15]:
correlation_matrix

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
min_sip,1.000000,0.236304,-0.119078,-0.111495,0.014810,-0.151352,0.111263,-0.049756,-0.167391,-0.124308
min_lumpsum,0.236304,1.000000,-0.006859,-0.142937,0.030491,-0.102806,0.026659,0.072438,-0.072172,-0.032150
expense_ratio,-0.119078,-0.006859,1.000000,-0.109883,0.180308,0.580970,-0.279715,-0.041015,0.489621,0.229133
fund_size_cr,-0.111495,-0.142937,-0.109883,1.000000,0.211195,0.006744,0.194323,0.002586,-0.000791,0.065922
fund_age_yr,0.014810,0.030491,0.180308,0.211195,1.000000,0.133440,0.090160,0.065085,-0.011475,0.008676
risk_level,-0.151352,-0.102806,0.580970,0.006744,0.133440,1.000000,-0.170460,-0.176473,0.778559,0.552223
rating,0.111263,0.026659,-0.279715,0.194323,0.090160,-0.170460,1.000000,0.260413,-0.129449,0.022081
returns_1yr,-0.049756,0.072438,-0.041015,0.002586,0.065085,-0.176473,0.260413,1.000000,-0.071361,-0.156742
returns_3yr,-0.167391,-0.072172,0.489621,-0.000791,-0.011475,0.778559,-0.129449,-0.071361,1.000000,0.724002
returns_5yr,-0.124308,-0.032150,0.229133,0.065922,0.008676,0.552223,0.022081,-0.156742,0.724002,1.000000

In [16]:
# Select the chosen features (replace with your final choices)
selected_features = ['scheme_name', 'returns_5yr', 'risk_level', 'returns_1yr', 'returns_3yr']

# Create a new DataFrame with the selected features
df_selected = df[selected_features]

In [ ]:
# Print the DataFrame with selected features for confirmation
df_selected

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [18]:
# Define features (replace with your final choices)
features = ['risk_level', 'returns_1yr', 'returns_3yr']
target = 'returns_5yr'

In [19]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_selected[features], df_selected[target], test_size=0.2, random_state=42)

# Create the Random Forest model
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Evaluate model performance
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

In [20]:
print("R-squared:", r2)
print("Mean Squared Error:", mse)

R-squared: 0.5220769752416545
Mean Squared Error: 5.506258574555808

In [21]:
df_selected['risk_level'].describe

<bound method NDFrame.describe of 0      3
1      1
2      5
3      6
4      6
      ..
809    4
810    6
811    1
812    1
813    1
Name: risk_level, Length: 814, dtype: int64>

In [22]:
def categorize_risk(risk_level):
  """
  Categorizes risk level based on numerical value.

  Args:
      risk_level: Numerical risk level (1 to 6).

  Returns:
      Categorized risk level (low, medium, high).
  """
  if risk_level <= 2:
    return "low"
  elif risk_level <= 4:
    return "medium"
  else:
    return "high"

In [23]:
df_selected["risk_category"] = df_selected["risk_level"].apply(categorize_risk)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12324\3309583889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["risk_category"] = df_selected["risk_level"].apply(categorize_risk)

In [24]:
df_selected

,scheme_name,returns_5yr,risk_level,returns_1yr,returns_3yr,risk_category
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,6.9,3,4.0,6.5,medium
1,Aditya Birla SL Arbitrage Fund,5.5,1,5.6,4.8,low
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,9.7,5,2.0,18.9,high
3,Aditya Birla SL Bal Bhavishya Yojna – Dir Growth,8.9,6,-0.7,17.1,high
4,Aditya Birla SL Balanced Advantage Fund,9.7,6,4.5,18.6,high
...,...,...,...,...,...,...
809,UTI-Unit Linked Insurance Plan – Direct,6.2,4,-0.7,13.1,medium
810,UTI-Value Opportunities Fund,12.2,6,1.7,27.2,high
811,WhiteOak Capital Liquid Fund,8.9,1,5.3,3.8,low
812,WhiteOak Capital Overnight Fund,13.3,1,1.7,32.4,low
813,WhiteOak Capital Ultra Short Term Fund,8.9,1,5.3,4.5,low

In [25]:
df_selected.columns

Index(['scheme_name', 'returns_5yr', 'risk_level', 'returns_1yr',
       'returns_3yr', 'risk_category'],
      dtype='object')

In [26]:
df_selected.to_csv("selectedFeatures.csv", index=False)

In [28]:
def recommend_funds(user_risk_tolerance, df_selected):
  """
  Recommends mutual funds based on user risk tolerance and returns (if 'predicted_return' is missing).

  Args:
      user_risk_tolerance: User's risk tolerance (low, medium, high).
      df_selected: DataFrame containing mutual fund data (without 'predicted_return').

  Returns:
      A list of recommended mutual funds.
  """

  if user_risk_tolerance == "high":
    sorted_df = df_selected.sort_values(by='returns_5yr', ascending=False)  # Prioritize potentially higher returns
  else:
    sorted_df = df_selected.sort_values(by='returns_5yr', ascending=True)   # Prioritize potentially lower returns

  # Select top N recommendations (optional)
  top_n_funds = sorted_df.head(n=5)  # Adjust number of recommendations
  return top_n_funds["scheme_name"].tolist()

# Example Usage
user_risk_tolerance = input("Enter your risk tolerance (low, medium, high): ")
recommended_funds = recommend_funds(user_risk_tolerance, df_selected.copy())
print("Recommended Funds for You:", recommended_funds)

Enter your risk tolerance (low, medium, high): high
Recommended Funds for You: ['Quant Small Cap Fund', 'Quant Tax Plan- Direct Growth', 'Tata Digital India Fund', 'SBI Tax Advantage Fund', 'ICICI Pru Technology Fund']